VITE_FIREBASE_API_KEY=AIzaSyCZGw5BaZzuzT9RMbbqDCf3mhO1Nv6yr_w
VITE_FIREBASE_AUTH_DOMAIN=career-compass-ed26e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=career-compass-ed26e
VITE_FIREBASE_STORAGE_BUCKET=career-compass-ed26e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1001245319316
VITE_FIREBASE_APP_ID=1:1001245319316:web:66233ebddc6fdc9e1c5481
VITE_FIREBASE_MEASUREMENT_ID=G-WT43FPD2JK
